<div class="sc">
    <div class="about section">
        <h1>Hey,<br>
            My name is <span class="highlight">Aidana</span>.<br>
        </h1>
        <h2>
            And I am a front-end developer.
        </h2>
        <!--<h5>-->
            <!--I am a tech-minded business student with an international background and a passion for front-end and clean-->
            <!--design. As a front-end developer,-->
            <!--I strive to write minimalistic, compatible, functional and reusable code.-->
        <!--</h5>-->
        <h5>
            Besides introducing the lil developer in me, this site was made for learning purposes. Check back every
            month or so, you might find
            something new and, perhaps, slightly entertaining.
        </h5>
    </div>
</div>
