<div class="sc">
  <div class="about section">
    <h1>Hey,<br>
      My name is Aidana.<br>
    </h1>
    <h6>
    I am a tech-minded business student with an international background and experience in content
    management and consulting. I am passionate about front-end tech and clean design. As a front-end developer,
    I strive to write minimalistic, functional and reusable code. Currently, I work and grow as a front-end developer
    at <a target="_blank" href="https://luminum.group/">Luminum Group</a>.
    </h6>
    <h6>
    Besides introducing the lil developer in me, this site was made for learning purposes. Check back every month or so, you might find something new and, perhaps, slightly entertaining.
    </h6>
  </div>
</div>
