<div class="sc">
    <div class="game">
        <h1 class="header">Minesweeper</h1>
        <div id="game-board" oncontextmenu="return false;">
            <div [ngClass]="{'hideGameStart': gameStarted === true}" class="game-start">
                <img [ngClass]="{'hideGameStart': gameStarted === true}" src="../../assets/mines.svg">
                <button (click)="init(); gameStarted = true" class="start btn">Start!</button>
                <div class="over">
                    <p>Hehe, you lost. :P</p>
                </div>
                <div class="won">
                    <p>Niiice, you won. :P</p>
                </div>
            </div>
            <svg id="game"></svg>
        </div>
    </div>
</div>
