<div class="sc">
    <div class="game">
        <h2 class="header">Minesweeper</h2>
        <div id="game-board" oncontextmenu="return false;">
            <div class="game-start">
                <img src="../../assets/mines.svg">
                <button (click)="init()" class="start btn">Start</button>
                <div class="over">
                    <p>Hehe, you lost. :P</p>
                </div>
                <div class="won">
                    <p>Niiice, you won. :P</p>
                </div>
            </div>
            <svg id="game"></svg>
        </div>
    </div>
</div>
