.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  .game-start {
    position: relative;

    &.hideGameStart {
      display: none;
    }
  }

  #board {

    button {
      position: absolute;
      top: 118px;
      left: 79px;
      width: 75px;
      padding: 9px;
      background-color: transparent;
      border: 2px solid #AE81FF;
    }

    img {
      width: 309px;
      height: auto;
    }

    .gameOver, .gameWon {
      position: absolute;
      left: 0;
      bottom: -25px;
      display: none;
      justify-content: center;
      width: 100%;

      p {
        color: #FBF9FC;
      }

      &.show {
        display: flex;
      }
    }
  }
}
