@import "../../scss/helpers";

.sc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1290px;

  > p {
    margin-left: 15px;

    a {
      color: $p;
    }
  }

  .pi {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0 15px 30px;

    > a {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    * {
      color: #000500;
    }

    .pp {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .pt {
      z-index: 1;
      position: relative;
      padding: 15px 15px 35px;
      background-color: $ws;
      transition: all .2s ease;

      p:last-child {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      > * {
        transition: all .1s ease;
      }
    }

    &.explanation {
      width: 280px;
      height: 280px;
      margin: 60px 75px 90px;

      &:hover {
        img {
          opacity: 1;
        }

        .pt {
          opacity: 0;
        }
      }

      &:not(:hover) {
        img {
          opacity: 0.2;
          transition-delay: .3s;
        }

        .pt {
          opacity: 1;
        }
      }

      .pp {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: $ws;

        img {
          width: 150px;
          transition: all .3s ease
        }
      }

      .pt {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: calc(100% - 30px);
        height: calc(100% - 50px);
        opacity: 1;
        background: transparent;
        transform: none;
        transition: all .3s ease;
        text-align: center;
      }
    }

    &:not(.explanation):hover {
      .pt {
        transform: translate(0, -100%);
        opacity: 0.99;
        transition: all .2s ease;

        > * {
          opacity: 1;
          transition-delay: 0.2s;
        }
      }

      img {
        transform: scale(1.03, 1.03);
        transition: all .55s ease-in-out;
      }
    }

    &:not(.explanation):not(:hover) {
      .pt {
        transform: translate(0, 0);
        transition-delay: 0.1s;
        opacity: 0;

        > * {
          opacity: 0;
        }
      }

      img {
        transition: all .2s ease-out;
      }
    }
  }
}

@media only screen and (max-width: 1410px) and (min-width: 980px){
  .p {
    max-width: 860px;
  }
}

@media only screen and (max-width: 980px){
  .p {
    max-width: 320px;
    width: 100%;

    .pi {
      width: 290px;
      height: 290px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .pi.explanation {
    margin: 0 20px 30px !important;
  }
}
