@import "../../scss/helpers";

.sc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1290px;

  .pi {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0 15px 30px;

    * {
      color: #000500;
    }

    > a {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .pp {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .pt {
      z-index: 1;
      position: relative;
      background-color: $ws;
      transition: all .2s ease;

      > * {
        transition: all .1s ease;
      }
    }

    &:not(.explanation) {
      .pt {
        padding: 15px 15px 35px;

        h6:last-child {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }

      &:not(:hover) {
        .pt {
          transform: translate(0, 0);
          transition-delay: 0.1s;
          opacity: 0;

          > * {
            opacity: 0;
          }
        }

        img {
          transition: all .2s ease-out;
        }
      }

      &:hover {
        .pt {
          transform: translate(0, -100%);
          opacity: 0.99;
          transition: all .2s ease;

          > * {
            opacity: 1;
            transition-delay: 0.2s;
          }
        }

        img {
          transform: scale(1.03, 1.03);
          transition: all .55s ease-in-out;
        }
      }
    }


    &.explanation {
      width: 300px;
      height: 300px;
      margin: 50px 65px 80px;

      //.pp {
      //  display: flex;
      //  justify-content: center;
      //  align-items: center;
      //  height: 100%;
      //  background-color: $ws;
      //
      //  img {
      //    width: 150px;
      //    opacity: 0.2;
      //  }
      //}

      .pt {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column nowrap;
        width: calc(100% - 64px);
        height: calc(100% - 64px);
        opacity: 1;
        padding: 30px;
        background: transparent;
        transform: none;
        transition: all .3s ease;
        //text-align: center;
        border: 2px solid #ae81ff;
        border-radius: 4px;

        * {
          color: #FBF9FC;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px){
  .portfolio {

    .pi {
      width: 290px;
      height: 290px;
    }

    .pi.explanation {
      width: 290px;
      height: 290px;
      margin: 0 15px 30px;
    }
  }
}
