<div class="sc">
  <div class="p">
    <!--<h1>Portfolio</h1>-->
    <h2>Projects</h2>
    <div class="pi" *ngFor="let PortfolioItem of PortfolioItem">
      <a target="_blank" href="{{ PortfolioItem.href }}"></a>
      <div class="pp">
        <img src="{{ PortfolioItem.imgPath }}">
      </div>
      <div class="pt">
        <h5>{{ PortfolioItem.name }}</h5>
        <h6>{{ PortfolioItem.description }}</h6>
        <h6>{{ PortfolioItem.date }}</h6>
      </div>
    </div>
    <div class="pi explanation">
      <a target="_blank" href="https://luminum.solutions/"></a>
      <div class="pp">
        <img src="../../assets/ls.png">
      </div>
      <div class="pt">
        <h5>Disclaimer</h5>
        <h6>Most projects were done with the amazing Luminum team.<br>All rights belong to Luminum and their customers.</h6>
        <h6></h6>
      </div>
    </div>
    <h6>Design for these projects, except for blockport.io, was done with love by <a href="https://tree62.nl/" target="_blank">Tree62</a>.</h6>
  </div>
</div>
