<div class="sc">
  <div class="portfolio">
    <h2 class="header">Portfolio</h2>
    <div class="portfolio-item" *ngFor="let PortfolioItem of PortfolioItem">
      <a target="_blank" href="{{ PortfolioItem.href }}"></a>
      <div class="portfolio-image">
        <img src="{{ PortfolioItem.imgPath }}">
      </div>
      <div class="portfolio-text">
        <h4>{{ PortfolioItem.name }}</h4>
        <h6>{{ PortfolioItem.description }}</h6>
        <h6>{{ PortfolioItem.date }}</h6>
      </div>
    </div>
    <div class="portfolio-item explanation">
      <div class="portfolio-text">
        <h4>Disclaimer</h4>
        <h6>All projects were done with the amazing Luminum team, and all rights belong to <a target="_blank" href="https://luminum.solutions/" class="link">Luminum</a> and their customers.</h6>
        <h6>Design for these projects, except for blockport.io, was done by <a class="link" href="https://tree62.nl/" target="_blank">Tree62</a>.</h6>
      </div>
    </div>
  </div>
</div>
