//-- Colours
$b: #000500;
$bl: #0f0f0f;
$gd: #1C1D21;
$gb: #8A95A5;
$glb: #C9DAEA;
$wg: #FCFDFF;
$ws: #FBF9FC;
$rq: #A39BA8;
$r: #CD4E55;
$p: #AE81FF;
$d-p: #8966C9;
$blu: #69BAE5;
$d-blu: #00BCD4;
$g: #A6C249;
$y: #F2E679;

//-- Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:600,700');

h1, h2, h4 {
  font-family: 'Poppins', sans-serif;

  > * {
    font-family: 'Poppins', sans-serif !important;
  }
}

h3, h5, h6, p, span, a, button {
  font-family: 'Lato', sans-serif;
}

$bw: 700;
$mw: 600;
$nw: 400;

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3 {
  color: $ws;
  font-weight: $bw;
}

h1 {
  font-size: 65px;
  line-height: 75px;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  width: 100%;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: $mw;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: $nw;
}

h6 {
  color: $ws;
  font-size: 16px;
  line-height: 26px;
  font-weight: $nw;
}

p {
  font-size: 14px;
  line-height: 25px;
  font-weight: $nw;
}

a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  cursor: inherit;
}

button {
  cursor: pointer;
  outline: none !important;
}

//-- Over variables
$border-radius: 4px;
$border-width: 2px;
$box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);

//-- Animations
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(arrow) {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@include keyframes(customFadeIn) {
  0% {
    opacity: 0.6;
    transform: scale(0.997);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

//-- Helper classes

.btn {
  border: none;
  color: $ws;
  text-align: center;
}

.fw {
  width: 100% !important;
}

.highlight {
  color: $p !important;
}

.link {
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5%;
    width: 101%;
    height: 40%;
    background: #8966C9;
    z-index: -1;
    transition: background-color 0.3s;
  }

  &:hover:before {
    background: transparent;
  }
}

.header {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.overlay {
  z-index: 1;

  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.7);
  }
}

.ih {

  svg, p {
    transition: transform 0.3s;
    transform: perspective(1px) translateZ(0);
  }

  &:hover svg, &:hover p {
    transform: scale(1.1);
  }
}
