//-- Colours
$b: #000500;
$bl: #0f0f0f;
$gd: #1C1D21;
$gb: #8A95A5;
$glb: #C9DAEA;
$wg: #FCFDFF;
$ws: #FBF9FC;
$rq: #A39BA8;
$r: #CD4E55;
$p: #AE81FF;
$blu: #69BAE5;
$g: #A6C249;
$y: #EDE176;

//-- Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:600,700');

*:not(h1):not(h2):not(h4):not(span) {
  font-family: 'Lato', sans-serif;
}

$bw: 700;
$nw: 400;
$mw: 600;
$lw: 200;

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3 {
  color: $ws;
  font-weight: $bw;
}

h1 {
  font-size: 65px;
  line-height: 75px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: $mw;
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: $nw;
}

h6 {
  color: $ws;
  font-size: 16px;
  line-height: 26px;
  font-weight: $nw;
}

p {
  font-size: 14px;
  line-height: 25px;
  font-weight: $nw;
}

a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  cursor: inherit;
}

button {
  cursor: pointer;
  outline: none !important;
}

//-- Over variables
$border-radius: 4px;
$border-width: .15em;
$box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);

//-- Animations
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(customFadeIn) {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes(typing) {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@include keyframes(blink-caret) {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: $r;
  }
}

.customFadeIn {
  opacity: 0 !important;
  animation: customFadeIn 0.25s ease-in;
  animation-delay: 0.4s;
}

//-- Helper classes

.btn {
  border: none;
  //border-radius: $border-radius;
  color: $ws;
  text-align: center;
}

.fw {
  width: 100% !important;
}

.highlight {
  color: $p !important;
}

.link {
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: underline;

  &:hover {
    color: $p !important;
    text-decoration: none;
  }
}

.header {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.overlay {
  z-index: 1;

  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.7);
  }
}

.typewriter {
  overflow: hidden;
  border-right: $border-width solid $r;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 1.5s steps(25, end), blink-caret .75s step-end infinite 1.6s;
}

.ih {

  svg, p {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
  }

  &:hover svg, &:hover p {
    transform: scale(1.1);
  }
}
